services:

  museheart:
    build: .
	healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'python /usr/src/app/main.py' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    environment:
      TOKEN: ${TOKEN}
      DEFAULT_PREFIX: ${DEFAULT_PREFIX}
      AUTO_DOWNLOAD_LAVALINK_SERVERLIST: ${AUTO_DOWNLOAD_LAVALINK_SERVERLIST}
      MONGO: ${MONGO}
      PLAYER_SESSIONS_MONGODB: ${PLAYER_SESSIONS_MONGODB}
      SENSITIVE_INFO_WARN: ${SENSITIVE_INFO_WARN}
      SPOTIFY_CLIENT_ID: ${SPOTIFY_CLIENT_ID}
      SPOTIFY_CLIENT_SECRET: ${SPOTIFY_CLIENT_SECRET}
      BANS_INTENT: ${BANS_INTENT}
      DM_MESSAGES_INTENT: ${DM_MESSAGES_INTENT}
      DM_REACTIONS_INTENT: ${DM_REACTIONS_INTENT}
      DM_TYPING_INTENT: ${DM_TYPING_INTENT}
      GUILD_MESSAGES_INTENT: ${GUILD_MESSAGES_INTENT}
      GUILD_REACTIONS_INTENT: ${GUILD_REACTIONS_INTENT}
      GUILD_SCHEDULED_EVENTS_INTENT: ${GUILD_SCHEDULED_EVENTS_INTENT}
      GUILD_TYPING_INTENT: ${GUILD_TYPING_INTENT}
      EMOJIS_AND_STICKERS_INTENT: ${EMOJIS_AND_STICKERS_INTENT}
      INTEGRATIONS_INTENT: ${INTEGRATIONS_INTENT}
      INVITES_INTENT: ${INVITES_INTENT}
      VOICE_STATES_INTENT: ${VOICE_STATES_INTENT}
      WEBHOOKS_INTENT: ${WEBHOOKS_INTENT}
      PRESENCES_INTENT: ${PRESENCES_INTENT}
      MESSAGE_CONTENT_INTENT: ${MESSAGE_CONTENT_INTENT}
      OWNER_IDS: ${OWNER_IDS}
      KILL_ON_429: ${KILL_ON_429}
      ENABLE_COMMANDS_COOLDOWN: ${ENABLE_COMMANDS_COOLDOWN}
      COMMAND_LOG: ${COMMAND_LOG}
      SUPPORT_SERVER: ${SUPPORT_SERVER}
      AUTO_SYNC_COMMANDS: ${AUTO_SYNC_COMMANDS}
      BOT_ADD_REMOVE_LOG: ${BOT_ADD_REMOVE_LOG}
      ERROR_REPORT_WEBHOOK: ${ERROR_REPORT_WEBHOOK}
      AUTO_ERROR_REPORT_WEBHOOK: ${AUTO_ERROR_REPORT_WEBHOOK}
      EMBED_COLOR: ${EMBED_COLOR}
      SOURCE_REPO: ${SOURCE_REPO}
      INTERACTION_COMMAND_ONLY: ${INTERACTION_COMMAND_ONLY}
      PRESENCE_INTERVAL: ${PRESENCE_INTERVAL}
      ADDITIONAL_BOT_IDS: ${ADDITIONAL_BOT_IDS}
      INVITE_PERMISSIONS: ${INVITE_PERMISSIONS}
      ENABLE_LOGGER: ${ENABLE_LOGGER}
      GIT_DIR: ${GIT_DIR}
      GUILD_DEAFEN_WARN: ${GUILD_DEAFEN_WARN}
      LAVALINK_SERVER_LIST: ${LAVALINK_SERVER_LIST}
      LAVALINK_RECONNECT_RETRIES: ${LAVALINK_RECONNECT_RETRIES}
      USE_YTDL: ${USE_YTDL}
      FORCE_USE_DEEZER_CLIENT: ${FORCE_USE_DEEZER_CLIENT}
      MAX_USER_FAVS: ${MAX_USER_FAVS}
      USER_FAV_MAX_NAME_LENGTH: ${USER_FAV_MAX_NAME_LENGTH}
      USER_FAV_MAX_URL_LENGTH: ${USER_FAV_MAX_URL_LENGTH}
      IDLE_TIMEOUT: ${IDLE_TIMEOUT}
      WAIT_FOR_MEMBERS_TIMEOUT: ${WAIT_FOR_MEMBERS_TIMEOUT}
      DEFAULT_SKIN: ${DEFAULT_SKIN}
      DEFAULT_STATIC_SKIN: ${DEFAULT_STATIC_SKIN}
      IGNORE_SKINS: ${IGNORE_SKINS}
      IGNORE_STATIC_SKINS: ${IGNORE_STATIC_SKINS}
      EXTRA_HINTS: ${EXTRA_HINTS}
      HINT_RATE: ${HINT_RATE}
      VOTE_SKIP_AMOUNT: ${VOTE_SKIP_AMOUNT}
      PREFIXED_POOL_TIMEOUT: ${PREFIXED_POOL_TIMEOUT}
      ENABLE_DISCORD_URLS_PLAYBACK: ${ENABLE_DISCORD_URLS_PLAYBACK}
      PLAYER_INFO_BACKUP_INTERVAL: ${PLAYER_INFO_BACKUP_INTERVAL}
      MONGO_TIMEOUT: ${MONGO_TIMEOUT}
      PLAYER_INFO_BACKUP_INTERVAL_MONGO: ${PLAYER_INFO_BACKUP_INTERVAL_MONGO}
      QUEUE_MAX_ENTRIES: ${QUEUE_MAX_ENTRIES}
      ENABLE_DEFER_TYPING: ${ENABLE_DEFER_TYPING}
      VOICE_CHANNEL_LATENCY_RECONNECT: ${VOICE_CHANNEL_LATENCY_RECONNECT}
      RUN_RPC_SERVER: ${RUN_RPC_SERVER}
      ENABLE_RPC_COMMAND: ${ENABLE_RPC_COMMAND}
      RPC_SERVER: ${RPC_SERVER}
      RPC_PUBLIC_URL: ${RPC_PUBLIC_URL}
      ENABLE_RPC_AUTH: ${ENABLE_RPC_AUTH}
      RUN_LOCAL_LAVALINK: ${RUN_LOCAL_LAVALINK}
      CONNECT_LOCAL_LAVALINK: ${CONNECT_LOCAL_LAVALINK}
      SEARCH_PROVIDERS: ${SEARCH_PROVIDERS}
      LAVALINK_ADDITIONAL_SLEEP: ${LAVALINK_ADDITIONAL_SLEEP}
      LAVALINK_INITIAL_RAM: ${LAVALINK_INITIAL_RAM}
      LAVALINK_RAM_LIMIT: ${LAVALINK_RAM_LIMIT}
      LAVALINK_CPU_CORES: ${LAVALINK_CPU_CORES}
      LAVALINK_FILE_URL: ${LAVALINK_FILE_URL}
      USE_JABBA: ${USE_JABBA}
      LASTFM_KEY: ${LASTFM_KEY}
      LASTFM_SECRET: ${LASTFM_SECRET}
      LISTENING_PRESENCES: ${LISTENING_PRESENCES}
      WATCHING_PRESENCES: ${WATCHING_PRESENCES}
      PLAYING_PRESENCES: ${PLAYING_PRESENCES}
      CUSTOM_STATUS_PRESENCES: ${CUSTOM_STATUS_PRESENCES}
      STREAMING_PRESENCES: ${STREAMING_PRESENCES}
